{% extends "themet/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Explore Oil Paintings from the Met
                    </h5>
                    <p class="card-text">
                        <a href="paintings">299 Paintings</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Oil Portraits
                    </h5>
                    <p class="card-text">
                        <a href="{% url "themet:ppainting_list" %}">{{number}}Filter out other paintings for specifically portraits</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div id="pie">

          {% load nvd3_tags %}
            <head>
                {% load_chart charttype chartdata "piechart_container" %}
            </head>
            <body>
              <div class="piechart-mediums">
                <h2>Breakdown of Different Mediums</h2>
                {% include_container "piechart_container" 500 600 %}
              </div>
            </body>
        </div>
      </div>
      </div>
    </div>
{% endblock %}

{% block script %}
  <!-- <script>
  function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  </script> -->
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQoCNMvFuEHWambNcr82R-oq3J3IEn8pU&callback=initMap">
  </script>
  <!--script src="{% static "paintings/data/new_counts.json" %}"></script>
  <script src="{% static "paintings/js/home.js" %}"></script>
  <script src="{% static "paintings/js/map.js" %}"></script>
  <script src="{% static "paintings/js/fam-bar.js" %}"></script>
  <script src="{% static "paintings/js/date-bar.js" %}"></script-->


    <!-- <script src="{% static "winners/js/home.js" %}"></script> -->
{% endblock %}
