{% extends "themet/base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "themet:index" %}">Home</a></li>
    <li class="breadcrumb-item active">Painting Details: {{painting.title}} {{title}}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div id="detail-header" class="col-md-12">
    <h2> {{ title }} </h2>
  </div>
</div>
<div id="painting-info" class="row">
  <div class="col-md-6">
    <a href={{image}}><img id="image" alt="painting image" src={{ image }}></a>
  </div>
  <div class="col-md-6">
    <div class="row">
      <ul>
          <li class="info"><b>Date:</b> {{ date }}</li>
          <li class="info"><b>Medium:</b> {{ medium }}</li>
          <li class="info"><b>Description:</b> {{ description }}</li>
          <li class="info"><b>Gallery Info:</b> {{ galleryInformation }}</li>
      </ul>
    </div>
    <div class="row">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 40.779550, lng: -73.963437};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: nyc
        });
        var marker = new google.maps.Marker({
          position: nyc,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5d8LwgXQTSKc8pc-YZB_wEszI0gwsFG0&callback=initMap">
    </script>
</div>
</div>
{% endblock %}
